@using PlacesYouveBeen.Models;
<!DOCTYPE html>
<html>
  <head>
    <title>HomePage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Places You've Been Tracker!</h1>
    <h3>You've been places. That's pretty cool!</h3>
    <p> Here are all the places you've been:</p>
    <ul>
      <li>@Model.CityName</li>
    </ul>
    <button onclick="window.location.href='/place/new'">Add Place</button>
  </body>
</html>