<!DOCTYPE html>
<html>
  <head>
    <title>HomePage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <p> Form page! </p>
    <form action="/place" method="post">
      <label for="city">City: </label>
      <input id="city" name="city" type="text">
      <br>
      <label for="date">Trip Date: </label>
      <input type="date" id="date" name="date">
      <br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>